<a href="https://colab.research.google.com/github/bankurucharan/PANDAS/blob/main/CharanBankuru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas** is a powerful and flexible open-source data analysis and manipulation library for Python. It provides data structures and functions with data stuctures.

data structures in Pandas are:

Series: A one-dimensional labeled array capable of holding any data type . It's similar to a column in a spreadsheet or a SQL table.

DataFrame: A two-dimensional labeled data structure with columns of potentially different data types. It is analogous to a spreadsheet or SQL table and is the most commonly used structure in Pandas for data analysis.

**Getting Familiar with Pandas:-**

Start by installing Pandas if you haven't already:

In [ ]:
pip install pandas

**Importing Pandas:-**

To use Pandas in your Python script, you need to import it. It's use as "pd":

In [ ]:
import pandas as pd

**Creation:-**

Import Pandas: import pandas as pd
Create a Series: Use pd.Series(data, index=...)
Create a DataFrame: Use pd.DataFrame(data_dict) or pd.DataFrame(data_lists, columns=...)
Read from CSV: Use pd.read_csv('file_path.csv')

In [2]:
import pandas as pd
# Creating a Series
data_series = pd.Series([10, 20, 30, 40, 50])
print("Series:")
print(data_series)
# Creating a DataFrame
data_dict = {
    'Name': ['A', 'B', 'C', 'D'],
    'Age': [24, 27, 22, 32],
    'City': ['Mumbai', 'Chennai', 'Vizag', 'Delhi']
}
data_frame = pd.DataFrame(data_dict)
print("\nDataFrame:")
print(data_frame)

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

DataFrame:
  Name  Age     City
0    A   24   Mumbai
1    B   27  Chennai
2    C   22    Vizag
3    D   32    Delhi

***Data Handling with Pandas:-***

Create a DataFrame: Simulates data that might be read from a CSV file.

Handle Missing Data:

Filling Missing Values: Uses fillna() to replace missing values. For the Name column, missing values are replaced with 'Unknown', and for Age, missing values are replaced with the mean age.
Dropping Missing Values: Uses dropna() to remove any rows with missing values.
Data Type Conversion:

Convert Age to Integer: Changes the data type of the Age column to integer using astype().
Removing Duplicates:

Remove Duplicate Rows: Uses drop_duplicates() to remove any duplicate rows in the DataFrame.

Create a DataFrame: Simulates data that might be read from a CSV file.

Handle Missing Data:

Filling Missing Values: Uses fillna() to replace missing values. For the Name column, missing values are replaced with 'Unknown', and for Age, missing values are replaced with the mean age.
Dropping Missing Values: Uses dropna() to remove any rows with missing values.
Data Type Conversion:

Convert Age to Integer: Changes the data type of the Age column to integer using astype().
Removing Duplicates:

Remove Duplicate Rows: Uses drop_duplicates() to remove any duplicate rows in the DataFrame.

In [4]:
import pandas as pd
data = {
    'Name': ['A', 'B', 'C', None, 'E', 'F'],
    'Age': [24, 27, None, 22, 32, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York', 'Chicago']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean()})
print("\nDataFrame after filling missing values:")
print(df_filled)
# Drop rows with missing values
df_dropped = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropped)
df_filled['Age'] = df_filled['Age'].astype(int)
print("\nDataFrame after converting 'Age' to integer:")
print(df_filled)

Original DataFrame:
   Name   Age         City
0     A  24.0     New York
1     B  27.0  Los Angeles
2     C   NaN      Chicago
3  None  22.0      Houston
4     E  32.0     New York
5     F  28.0      Chicago

DataFrame after filling missing values:
      Name   Age         City
0        A  24.0     New York
1        B  27.0  Los Angeles
2        C  26.6      Chicago
3  Unknown  22.0      Houston
4        E  32.0     New York
5        F  28.0      Chicago

DataFrame after dropping rows with missing values:
  Name   Age         City
0    A  24.0     New York
1    B  27.0  Los Angeles
4    E  32.0     New York
5    F  28.0      Chicago

DataFrame after converting 'Age' to integer:
      Name  Age         City
0        A   24     New York
1        B   27  Los Angeles
2        C   26      Chicago
3  Unknown   22      Houston
4        E   32     New York
5        F   28      Chicago

***Data Analysis with Pandas:-***

Generating Summary Statistics:

describe(): Provides summary statistics like count, mean, std deviation, min, max, and percentiles for numerical data. include='all' includes statistics for non-numeric data as well.

Grouping Data and Applying Aggregate Functions:

groupby(): Groups data based on a column. Aggregations (like mean) are then applied to the grouped data.

Joining DataFrames:

join(): Combines DataFrames based on their index.
Concatenating DataFrames:

concat(): Combines DataFrames either vertically (axis=0) or horizontally (axis=1).

In [5]:
import pandas as pd
data1 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 90, 78, 88],
    'Date': ['2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18']
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
#  Grouping Data and Applying Aggregate Functions
# Adding some additional data for grouping
data3 = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York', 'Chicago'],
    'Population': [8500000, 4000000, 2700000, 2300000, 8500000, 2700000]
}
df3 = pd.DataFrame(data3)
print("\nDataFrame for Grouping:")
print(df3)
grouped = df3.groupby('City')['Population'].mean()
print("\nAverage Population by City:")
print(grouped)
#  Joining DataFrames
df1.set_index('Name', inplace=True)
df2.set_index('Name', inplace=True)
# Join df1 and df2 on the index
joined_df = df1.join(df2)
print("\nJoined DataFrame on index:")
print(joined_df)
# 5. Concatenating DataFrames
concat_df = pd.concat([df1, df2], axis=0)
print("\nConcatenated DataFrame (vertically):")
print(concat_df)
# Reset index for demonstration of concatenation results
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)
# Concatenate DataFrames with different columns
df4 = pd.DataFrame({'Name': ['Eve'], 'Age': [29], 'City': ['San Francisco']})
df5 = pd.DataFrame({'Name': ['Frank'], 'Score': [85], 'Date': ['2024-01-19']})
concat_df_diff = pd.concat([df4, df5], axis=1)
print("\nConcatenated DataFrames with different columns:")
print(concat_df_diff)

DataFrame 1:
      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

DataFrame 2:
      Name  Score        Date
0    Alice     85  2024-01-15
1      Bob     90  2024-01-16
2  Charlie     78  2024-01-17
3    David     88  2024-01-18

DataFrame for Grouping:
          City  Population
0     New York     8500000
1  Los Angeles     4000000
2      Chicago     2700000
3      Houston     2300000
4     New York     8500000
5      Chicago     2700000

Average Population by City:
City
Chicago        2700000.0
Houston        2300000.0
Los Angeles    4000000.0
New York       8500000.0
Name: Population, dtype: float64

Joined DataFrame on index:
         Age         City  Score        Date
Name
Alice     24     New York     85  2024-01-15
Bob       27  Los Angeles     90  2024-01-16
Charlie   22      Chicago     78  2024-01-17
David     32      Houston     88  2024-01-18

Concatenated DataFrame (vertically):
          Age         City  Score        Date
Name
Alice    24.0     New York    NaN         NaN
Bob      27.0  Los Angeles    NaN         NaN
Charlie  22.0      Chicago    NaN         NaN
David    32.0      Houston    NaN         NaN
Alice     NaN          NaN   85.0  2024-01-15
Bob       NaN          NaN   90.0  2024-01-16
Charlie   NaN          NaN   78.0  2024-01-17
David     NaN          NaN   88.0  2024-01-18

Concatenated DataFrames with different columns:
  Name  Age           City   Name  Score        Date
0  Eve   29  San Francisco  Frank     85  2024-01-19

***Application of Pandas in Data Science:-***

Pandas is a cornerstone of data science due to its powerful and flexible data manipulation and analysis capabilities

**Advantages of Using Pandas:-**
Efficiency and Performance:

Optimized Data Structures: Pandas’ DataFrame and Series are optimized for performance, allowing for efficient data manipulation and analysis. Operations on these structures are much faster than using traditional Python lists or dictionaries.
Convenient Data Handling:

Flexible Data Import: Pandas can read from and write to various formats like CSV, Excel, SQL databases, JSON, and more, making data import and export straightforward.

Handling Missing Data: Functions such as fillna(), dropna(), and interpolate() provide robust methods for dealing with missing data, which is crucial for preparing clean datasets for analysis.

**Real-World Examples Where Pandas is Essential**:-

Data Cleaning:

Example: In financial analysis, before analyzing stock price data, you often need to clean the dataset by removing invalid entries, handling missing values, and ensuring the data is in the correct format. Pandas provides efficient methods for performing these tasks, such as dropna(), fillna(), and astype().
Exploratory Data Analysis (EDA):

Example: In a data science project analyzing customer behavior, EDA is crucial to understand trends, patterns, and correlations. Pandas enables this through summary statistics (describe()), grouping (groupby()), and visualizations with libraries like Matplotlib or Seaborn.
Data Transformation and Aggregation:

Example: In a marketing analysis, you may need to aggregate sales data by different regions or time periods to understand performance. Pandas allows you to perform these operations efficiently using groupby(), pivot_table(), and merge().

**Conclusion:-**

Pandas is an indispensable tool for data science due to its efficiency, convenience, and extensive capabilities for data manipulation and analysis. It simplifies tasks that would otherwise be cumbersome with traditional Python data structures, such as handling large datasets, performing complex transformations, and conducting detailed analyses